---
- name: Content Lab - AWS - Create RHEL VM
  ansible.controller.job_template:
    name: "{{ job_templates.aws.create_rhel_vm.name }}"
    inventory: "{{ inventories.localhost.name }}"
    playbook: playbooks/create_vm.yml
    project: "{{ projects.aws_lab_roles.name }}"
    extra_vars:
      create_vm_aws_region: "{{ aws.region }}"
      create_vm_vm_name: "{% raw %}create-rhel-test-{{ lookup('community.general.random_string', length=4, special=false) }}{% endraw %}"
      create_vm_aws_image_filter: "{% raw %}{{ default(omit) }}{% endraw %}"
      create_vm_aws_vpc_subnet_name: "{{ job_templates.aws.vnet.subnet_name }}"
      create_vm_aws_securitygroup_name: default
      create_vm_aws_keypair_name: "{{ job_templates.aws.create_rhel_vm.keypair_name }}"
      create_vm_aws_instance_size: t2.micro
      create_vm_vm_blueprint: rhel9
    ask_variables_on_launch: true
    credentials:
      - "{{ credentials.aws_account.name }}"
  when:
    - (seed_lab_content | bool)
    - credentials.aws_account.name is defined
    - projects.aws_lab_roles.name is defined
    - inventories.localhost.name is defined
    - job_templates.aws.create_rhel_vm.name is defined
    - job_templates.aws.create_rhel_vm.keypair_name is defined
    - job_templates.aws.vnet.subnet_name is defined
  register: create_rhel_vm_template
  tags:
    - templates
    - aws

- name: Content Lab - AWS - Delete RHEL VM
  ansible.controller.job_template:
    name: "{{ job_templates.aws.delete_rhel_vm.name }}"
    inventory: "{{ inventories.localhost.name }}"
    playbook: playbooks/create_vm.yml
    project: "{{ projects.aws_lab_roles.name }}"
    extra_vars:
      aws_region: "{{ aws.region }}"
      vm_name: vm-name
    ask_variables_on_launch: true
    credentials:
      - "{{ credentials.aws_account.name }}"
  when:
    - (seed_lab_content | bool)
    - credentials.aws_account.name is defined
    - projects.aws_lab_roles.name is defined
    - inventories.localhost.name is defined
    - job_templates.aws.delete_rhel_vm.name is defined
  register: create_rhel_vm_template
  tags:
    - templates
    - aws

- name: Content Lab - AWS - Create VPC
  ansible.controller.job_template:
    name: "{{ job_templates.aws.create_vpc.name }}"
    inventory: "{{ inventories.localhost.name }}"
    playbook: playbooks/create_vpc.yml
    project: "{{ projects.aws_lab_roles.name }}"
    extra_vars:
      vpc_cidr: 172.16.0.0/22
      vpc_subnets:
        - name: vnet1
          cidr: 172.16.0.0/24
          az: us-east-1a
        - name: vnet2
          cidr: 172.16.1.0/24
          az: us-east-1b
        - name: vnet3
          cidr: 172.16.2.0/24
          az: us-east-1c
        - name: vnet4
          cidr: 172.16.3.0/24
          az: us-east-1d
    ask_variables_on_launch: true
    credentials:
      - "{{ credentials.aws_account.name }}"
  when:
    - (seed_lab_content | bool)
    - job_templates.aws.create_vpc.name is defined
  register: create_vpc_template
  tags:
    - templates
    - aws

- name: Content Lab - AWS - Delete VPC
  ansible.controller.job_template:
    name: "{{ job_templates.aws.delete_vpc.name }}"
    inventory: "{{ inventories.localhost.name }}"
    playbook: playbooks/delete_vpc.yml
    project: "{{ projects.aws_lab_roles.name }}"
    extra_vars:
      aws_region: "{{ aws.region }}"
    ask_variables_on_launch: true
    credentials:
      - "{{ credentials.aws_account.name }}"
  when:
    - (seed_lab_content | bool)
    - job_templates.aws.delete_vpc.name is defined
  register: delete_vpc_template
  tags:
    - templates
    - aws

- name: Content Lab - AWS - Create Peer Network
  ansible.controller.job_template:
    name: "{{ job_templates.aws.create_peer_network.name }}"
    inventory: "{{ inventories.localhost.name }}"
    playbook: playbooks/create_peer_network.yml
    project: "{{ projects.aws_lab_roles.name }}"
    extra_vars:
      aws_region: "{{ aws.region }}"
      dmz_ssh_key_name: "{% raw %}# provide key name{% endraw %}"
      priv_network_ssh_key_name: "{% raw %}# provide key name{% endraw %}"
      vpc_priv_net_hosts_pattern: "{% raw %} default(omit) {% endraw %}"
      ansible_ssh_private_key_file_dest_path: "{% raw %} default(omit) {% endraw %}"
    ask_variables_on_launch: true
    credentials:
      - "{{ credentials.aws_account.name }}"
  when:
    - (seed_lab_content | bool)
    - credentials.aws_account.name is defined
    - projects.aws_lab_roles.name is defined
    - inventories.localhost.name is defined
    - job_templates.aws.create_peer_network.name is defined
  register: create_rhel_vm_template
  tags:
    - templates
    - aws

- name: Content Lab - AWS - Delete Peer Network
  ansible.controller.job_template:
    name: "{{ job_templates.aws.delete_peer_network.name }}"
    inventory: "{{ inventories.localhost.name }}"
    playbook: playbooks/delete_peer_network.yml
    project: "{{ projects.aws_lab_roles.name }}"
    extra_vars:
      aws_region: "{{ aws.region }}"
    ask_variables_on_launch: true
    credentials:
      - "{{ credentials.aws_account.name }}"
  when:
    - (seed_lab_content | bool)
    - credentials.aws_account.name is defined
    - projects.aws_lab_roles.name is defined
    - inventories.localhost.name is defined
    - job_templates.aws.delete_peer_network.name is defined
  register: create_rhel_vm_template
  tags:
    - templates
    - aws

- name: Content Lab - AWS - Create Reports
  ansible.controller.job_template:
    name: "{{ job_templates.aws.create_reports.name }}"
    inventory: "{{ inventories.localhost.name }}"
    playbook: playbooks/create_reports.yml
    project: "{{ projects.aws_lab_roles.name }}"
    extra_vars:
      reports_aws_region: "{{ aws.region }}"
    ask_variables_on_launch: true
    credentials:
      - "{{ credentials.aws_account.name }}"
  when:
    - (seed_lab_content | bool)
    - credentials.aws_account.name is defined
    - projects.aws_lab_roles.name is defined
    - inventories.localhost.name is defined
    - job_templates.aws.create_reports.name is defined
  register: create_rhel_vm_template
  tags:
    - templates
    - aws

- name: Content Lab - AWS - Create Transit Network
  ansible.controller.job_template:
    name: "{{ job_templates.aws.create_transit_network.name }}"
    inventory: "{{ inventories.localhost.name }}"
    playbook: playbooks/create_transit_network.yml
    project: "{{ projects.aws_lab_roles.name }}"
    extra_vars:
      aws_region: "{{ aws.region }}"
      dmz_instance_ami: ami-06640050dc3f556bb
      priv_network_instance_ami: ami-06640050dc3f556bb
      dmz_ssh_key_name: dmz_key
      priv_network_ssh_key_name: priv_net_key
      ssh_key_data: "{% raw %}# provide key data via credential{% endraw %}"
      ansible_ssh_user: ec2-user
      priv_network_ssh_user: ec2-user
      vpc_priv_net_hosts_pattern: 10.0.*
      ansible_ssh_private_key_file_dest_path: ~/.ssh/id_ed25519
      ansible_ssh_private_key_file: "{% raw %}# provide key data via credential{% endraw %}"
    ask_variables_on_launch: true
    credentials:
      - "{{ credentials.aws_account.name }}"
  when:
    - (seed_lab_content | bool)
    - credentials.aws_account.name is defined
    - projects.aws_lab_roles.name is defined
    - inventories.localhost.name is defined
    - job_templates.aws.create_transit_network.name is defined
  register: create_rhel_vm_template
  tags:
    - templates
    - aws

- name: Content Lab - AWS - Delete Transit Network
  ansible.controller.job_template:
    name: "{{ job_templates.aws.delete_transit_network.name }}"
    inventory: "{{ inventories.localhost.name }}"
    playbook: playbooks/delete_transit_network.yml
    project: "{{ projects.aws_lab_roles.name }}"
    extra_vars:
      aws_region: "{{ aws.region }}"
    ask_variables_on_launch: true
    credentials:
      - "{{ credentials.aws_account.name }}"
  when:
    - (seed_lab_content | bool)
    - credentials.aws_account.name is defined
    - projects.aws_lab_roles.name is defined
    - inventories.localhost.name is defined
    - job_templates.aws.delete_transit_network.name is defined
  register: create_rhel_vm_template
  tags:
    - templates
    - aws
