---
- name: Delete Demo Template
  ansible.controller.job_template:
    name: Demo Job Template
    state: absent
  when:
    - job_templates.demo.delete_demo_template is defined
    - job_templates.demo.delete_demo_template
    - seed_content_lab
  tags:
    - templates

- name: Azure - Create Resource Group
  ansible.controller.job_template:
    name: Azure - Create Resource Group
    inventory: localhost
    playbook: playbook_create_resource_group.yml
    project: "{{ content_lab_project_azure }}"
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      region: "{{ azure_region }}"
    credentials:
      - "{{ azure_credential.name }}"
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  tags:
    - templates

- name: Azure - Create VNET
  ansible.controller.job_template:
    name: Azure - Create VNET
    inventory: localhost
    playbook: playbook_create_vnet.yml
    project: "{{ content_lab_project_azure }}"
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      region: "{{ azure_region }}"
      route_table_name: "{{ job_templates.vnet.vnet_route_table_name }}"
      vnet_name: "{{ job_templates.vnet.vnet_name }}"
      vnet_cidr: "{{ job_templates.vnet.vnet_cidr }}"
      subnet_name: "{{ job_templates.vnet.subnet_name }}"
      subnet_cidr: "{{ job_templates.vnet.subnet_cidr }}"
    credentials:
      - "{{ azure_credential.name }}"
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  tags:
    - templates

- name: Azure - Create RHEL VM
  ansible.controller.job_template:
    name: Azure - Create RHEL VM
    inventory: localhost
    playbook: playbook_create_vm.yml
    project: "{{ content_lab_project_azure.name }}"
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      region: "{{ azure_region }}"
      os_type: Linux
      vm_name: "{% raw %}create-rhel-test-{{ lookup('community.general.random_string', length=4, special=false) }}{% endraw %}"
      vm_blueprint: rhel9
      nic_name: create-rhel-test-nic
      network_sec_group_name: create-rhel-test-sg
      public_ip_name: create-rhel-test-public-ip
      vnet_name: "{{ job_templates.vnet.vnet_name }}"
      subnet_name: "{{ job_templates.vnet.subnet_name }}"
      create_public_ip: true
      admin_user: azureuser
      admin_password: ansible12345!
      ssh_public_keys:
        - path: "{% raw %}/home/{{ admin_user }}/.ssh/authorized_keys{% endraw %}"
          key_data: "{% raw %}{{ lookup('file', '/home/runner/.ssh/id_rsa_azure_demo.pub') }}{% endraw %}" # Can be populated through a custom credential or variable
    ask_variables_on_launch: true
    credentials:
      - "{{ azure_credential.name }}"
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  register: create_rhel_vm_template
  tags:
    - templates

- name: Azure - Delete RHEL VM
  ansible.controller.job_template:
    name: Azure - Delete RHEL VM
    inventory: localhost
    playbook: playbook_delete_vm.yml
    project: "{{ content_lab_project_azure.name }}"
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      vm_name: rhel9-test
      nic_name: "{% raw %}{{ vm_name }}-nic{% endraw %}"
      network_sec_group_name: "{% raw %}{{ vm_name }}-sg{% endraw %}"
      public_ip_name: "{% raw %}{{ vm_name }}-public-ip{% endraw %}"
    credentials:
      - "{{ azure_credential.name }}"
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  register: delete_rhel_vm_template
  tags:
    - templates

- name: Azure - Create Windows Server VM
  ansible.controller.job_template:
    name: Azure - Create Windows Server VM
    inventory: localhost
    playbook: playbook_create_vm.yml
    project: "{{ content_lab_project_azure }}"
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      region: "{{ azure_region }}"
      os_type: Windows
      vm_name: "{% raw %}create-win-test-{{ lookup('community.general.random_string', length=4, special=false) }}{% endraw %}"
      nic_name: create-win-test-nic
      network_sec_group_name: create-win-test-sg
      public_ip_name: create-win-test-public-ip
      vnet_name: "{{ job_templates.vnet.vnet_name }}"
      subnet_name: "{{ job_templates.vnet.subnet_name }}"
      create_public_ip: true
      admin_user: azureuser
      admin_password: ansible12345!
    ask_variables_on_launch: true
    credentials:
      - "{{ azure_credential.name }}"
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  register: create_windows_vm_template
  tags:
    - templates

- name: Azure - Delete Windows VM
  ansible.controller.job_template:
    name: Azure - Delete Windows VM
    inventory: localhost
    playbook: playbook_delete_vm.yml
    project: "{{ content_lab_project_azure }}"
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      vm_name:  win2022-test
      nic_name: "{% raw %}{{ vm_name }}-nic{% endraw %}"
      network_sec_group_name: "{% raw %}{{ vm_name }}-sg{% endraw %}"
      public_ip_name: "{% raw %}{{ vm_name }}-public-ip{% endraw %}"
    credentials:
      - "{{ azure_credential.name }}"
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  register: delete_windows_vm_template
  tags:
    - templates

- name: Azure - Delete Resource Group
  ansible.controller.job_template:
    name: Azure - Delete Resource Group
    inventory: localhost
    playbook: playbook_delete_resource_group.yml
    project: "{{ content_lab_project_azure.name }}"
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      region: "{{ azure_region }}"
    credentials:
      - "{{ azure_credential.name }}"
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  register: delete_resource_group_template
  tags:
    - templates

- name: Azure - Create Network Peering Demo
  ansible.controller.job_template:
    name: Azure - Create Network Peering Demo
    inventory: localhost
    playbook: playbook_create_transit_network.yml
    project: "{{ content_lab_project_azure.name }}"
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      region: "{{ azure_region }}"
      priv_network_hosts_pattern: 172.16.*
      priv_network_ssh_user: azureuser
      ansible_ssh_private_key_file_local_path: /home/runner/.ssh/id_rsa_azure_demo # Must exist locally or be mapped in an EE
      ansible_ssh_private_key_file_dest_path: /home/runner/.ssh/id_rsa_azure_demo
    ask_variables_on_launch: true
    credentials:
      - "{{ azure_credential.name }}"
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  register: create_network_peering_demo_template
  tags:
    - templates

- name: Azure - Delete Network Peering Demo
  ansible.controller.job_template:
    name: Azure - Delete Network Peering Demo
    project: "{{ content_lab_project_azure.name }}"
    playbook: playbook_delete_transit_network.yml
    inventory: localhost
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      region: "{{ azure_region }}"
    ask_variables_on_launch: true
    credentials:
      - "{{ azure_credential.name }}"
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  register: delete_network_peering_demo_template
  tags:
    - templates

- name: Azure - Run DNF Update
  ansible.controller.job_template:
    name: Azure - Run DNF Update
    job_type: run
    project: "{{ content_lab_project_azure.name }}"
    playbook: playbook_update_rhel_vms.yml
    inventory: "{{ azure_inventory.name }}"
    limit: rhel
    credentials:
      - "{{ azure_vm_credential.name }}"
    become_enabled: true
    job_slice_count: 5
    state: present
  when:
    - seed_content_lab
    - azure_vm_credential is defined
    - content_lab_project_azure is defined
  register: rhel_vm_update_template
  tags:
    - templates

- name: Azure - Install Arc Agent
  ansible.controller.job_template:
    name: Azure - Install Arc Agent
    inventory: "{{ azure_inventory.name }}"
    playbook: playbook_install_arc_agent.yml
    project: "{{ content_lab_project_azure.name }}"
    extra_vars: 
      resource_group: "{{ azure_resource_group }}"
      region: "{{ azure_region }}"
      tenant_id: "{% raw %}{{ lookup('env', 'AZURE_TENANT') }}{% endraw %}"
      subscription_id: "{% raw %}{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') }}{% endraw %}"
      service_principal_id: "{% raw %}{{ lookup('env', 'AZURE_CLIENT_ID') }}{% endraw %}"
      service_principal_secret: "{% raw %}{{ lookup('env', 'AZURE_SECRET') }}{% endraw %}"
    credentials:
      - "{{ azure_vm_credential.name }}"
      - "{{ azure_credential.name }}"
    limit: rhel
    become_enabled: true
    ask_inventory_on_launch: true
    ask_limit_on_launch: true
  when:
    - seed_content_lab
    - azure_credential is defined
    - azure_vm_credential is defined
    - content_lab_project_azure is defined
  register: install_arc_agent_template
  tags:
    - templates

- name: Azure - Enable Arc Extensions
  ansible.controller.job_template:
    name: Azure - Enable Arc Extensions
    inventory: "{{ azure_inventory.name }}"
    playbook: playbook_enable_arc_extension.yml
    project: "{{ content_lab_project_azure.name }}"
    extra_vars: 
      resource_group: "{{ azure_resource_group }}"
      region: "{{ azure_region }}"
      arc_hosts: "{% raw %}{{ hostvars.values() | selectattr('group_names','contains', 'arc') | map(attribute='inventory_hostname') | list }}{% endraw %}"
      extension: azure_monitor_agent # this name is from the extension variable mapping in the content lab collection
    credentials:
      - "{{ azure_credential.name }}"
    ask_variables_on_launch: true
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  register: enable_arc_extensions_template
  tags:
    - templates

- name: Azure - Disable Arc Extensions
  ansible.controller.job_template:
    name: Azure - Disable Arc Extensions
    inventory: "{{ azure_inventory.name }}"
    playbook: playbook_disable_arc_extension.yml
    project: "{{ content_lab_project_azure.name }}"
    extra_vars: 
      resource_group_name: "{{ azure_resource_group }}"
      region: "{{ azure_region }}"
      arc_hosts: "{% raw %}{{ hostvars.values() | selectattr('group_names','contains', 'arc') | map(attribute='inventory_hostname') | list }}{% endraw %}"
      extension: azure_monitor_agent # this name is from the extension variable mapping in the content lab collection
    credentials:
      - "{{ azure_credential.name }}"
    ask_variables_on_launch: true
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  register: disable_arc_extensions_template
  tags:
    - templates

- name: Azure - Replace Log Analytics with Azure Monitor
  ansible.controller.job_template:
    name: Azure - Replace Log Analytics with Azure Monitor
    inventory: "{{ azure_inventory.name }}"
    playbook: playbook_replace_log_analytics_with_arc_linux.yml
    project: "{{ content_lab_project_azure.name }}"
    extra_vars:
      region: "{{ azure_region }}"
      resource_group: "{{ azure_resource_group }}"
      linux_hosts: "{% raw %}{{ hostvars.values() | selectattr('group_names','contains', 'arc') | map(attribute='inventory_hostname') | list }}{% endraw %}"
    credentials:
      - "{{ azure_credential.name }}"
  when:
    - seed_content_lab
    - azure_credential is defined
    - content_lab_project_azure is defined
  register: replace_log_analytics_with_azure_monitor_template
  tags:
    - templates

- name: Azure - Create Log Analytics Workspace
  ansible.controller.job_template:
    name: Azure - Create Log Analytics Workspace
    inventory: localhost
    playbook: playbook_create_log_analytics_workspace.yml
    project: "{{ content_lab_project_azure.name }}"
    credentials:
      - "{{ azure_vm_credential.name }}"
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      workspace_name: "{{ job_templates.log_analytics.ws_name }}"
    limit: rhel
  when:
    - seed_content_lab
    - azure_vm_credential is defined
    - content_lab_project_azure is defined
  register: create_log_analytics_workspace_template
  tags:
    - templates

- name: Azure - Install Log Analytics Agent
  ansible.controller.job_template:
    name: Azure - Install Log Analytics Agent
    inventory: "{{ azure_inventory.name }}"
    playbook: playbook_install_log_analytics_agent.yml
    project: "{{ content_lab_project_azure.name }}"
    credentials:
      - "{{ azure_vm_credential.name }}"
    extra_vars:
      resource_group: "{{ azure_resource_group }}"
      workspace_name: "{{ job_templates.log_analytics.ws_name }}"
    become_enabled: true
    limit: rhel
    ask_inventory_on_launch: true
    ask_limit_on_launch: true
  when:
    - seed_content_lab
    - azure_vm_credential is defined
    - content_lab_project_azure is defined
  register: install_log_analytics_agent_template
  tags:
    - templates

- name: Azure - Uninstall Log Analytics Agent
  ansible.controller.job_template:
    name: Azure - Uninstall Log Analytics Agent
    inventory: "{{ azure_inventory.name }}"
    playbook: playbook_uninstall_log_analytics_agent.yml
    project: "{{ content_lab_project_azure.name }}"
    credentials:
      - "{{ azure_vm_credential.name }}"
    become_enabled: true
    ask_inventory_on_launch: true
    ask_limit_on_launch: true
  when:
    - seed_content_lab
    - azure_vm_credential is defined
    - content_lab_project_azure is defined
  register: uninstall_log_analytics_agent_template
  tags:
    - templates

- name: Run Ephemeral Workload Test
  ansible.controller.job_template:
    name: Azure Demos - Ephemeral Workload Test
    job_type: run
    project: "{{ content_lab_project_demo.name }}"
    playbook: project/emphemeral_workload_test.yml
    inventory: localhost
    credentials:
      - "{{ controller_credential.name }}"
      - "{{ azure_credential.name }}"
      - "{{ azure_vm_credential.name }}"
    become_enabled: true
    job_slice_count: 1
    state: present
  when:
    - seed_content_lab
    - azure_credential is defined
    - azure_vm_credential is defined
    - controller_credential is defined
    - content_lab_project_demo is defined
  register: ephemeral_workload_template
  tags:
    - templates
