---
- name: Configure Credentials
  ansible.builtin.include_tasks: credentials.yml
  tags:
    - credentials

- name: Configure Execution Environments
  ansible.builtin.include_tasks: execution_environments.yml
  tags:
    - ees

- name: Configure Projects
  ansible.builtin.include_tasks: projects.yml
  tags:
    - projects

- name: Configure Inventories
  ansible.builtin.include_tasks: inventories.yml
  tags:
    - inventories

- name: Configure Templates
  ansible.builtin.include_tasks: job_templates.yml
  tags:
    - templates

- name: Configure Workflows
  ansible.builtin.include_tasks: workflows.yml
  tags:
    - workflows

- name: Configure Schedules
  ansible.builtin.include_tasks: schedules.yml
  tags:
    - schedules

- name: Configure Settings
  ansible.builtin.include_tasks: settings.yml
  tags:
    - settings