---
- name: Create a workflow to create a RHEL VM, run an automation against the VM, and then destroy the VM
  ansible.controller.workflow_job_template:
    name: "{{ workflows.ephemeral_workload.name }}"
    inventory: "{{ inventories.localhost.name }}"
    workflow_nodes:
      - identifier: Create VM
        unified_job_template:
          name: "{{ job_templates.azure.create_rhel_vm.name }}"
          type: job_template
        related:
          success_nodes:
            - identifier: Run DNF Update
          failure_nodes:
            - identifier: Delete VM

      - identifier: Run DNF Update
        unified_job_template:
          name: "{{ job_templates.azure.dnf_update.name }}"
          type: job_template
        related:
          always_nodes:
            - identifier: Delete VM

      - identifier: Delete VM
        all_parents_must_converge: false
        unified_job_template:
          name: "{{ job_templates.azure.delete_rhel_vm.name }}"
          type: job_template
  when:
    - (seed_lab_content | bool)
    - workflows.ephemeral_workload.name is defined
    - job_templates.azure.create_rhel_vm.name is defined
    - job_templates.azure.dnf_update.name is defined
    - job_templates.azure.delete_rhel_vm.name is defined
    - inventories.localhost.name is defined
  tags:
    - workflows
    - azure

- name: Azure - Install log analytics
  ansible.controller.workflow_job_template:
    name: "{{ workflows.install_log_analytics.name }}"
    description: Create a lot analytics workspace and install the log analytics agent on attached VMs.
    workflow_nodes:
      - identifier: Create Log Analytics Workspace
        unified_job_template:
          name: "{{ job_templates.azure.create_log_analytics_ws.name }}"
          type: job_template
          inventory: "{{ inventories.localhost.name }}"
        related:
          success_nodes:
            - identifier: Install Log Analytics Agent

      - identifier: Install Log Analytics Agent
        unified_job_template:
          name: "{{ job_templates.azure.install_log_analytics.name }}"
          type: job_template
          inventory: Azure
  when:
    - (seed_lab_content | bool)
    - workflows.install_log_analytics.name is defined
    - job_templates.azure.create_log_analytics_ws.name is defined
    - job_templates.azure.install_log_analytics.name is defined
    - inventories.localhost.name is defined
  tags:
    - workflows
    - azure

- name: Azure Arc - Replace Log Analytics with Azure Monitor
  ansible.controller.workflow_job_template:
    name: "{{ workflows.arc_log_migration.name }}"
    description: Migrate hosts from Azure Log Analytics Agent to Azure Monitor Agent with Azure Arc
    survey_enabled: true
    survey_spec:
      name: ""
      description: ""
      spec:
        - question_name: Which Azure region will your Arc servers reside?
          variable: region
          required: true
          type: text
          default: "{{ azure.region }}"
        - question_name: What is the name of your resource group?
          variable: resource_group_name
          required: true
          type: text
        - question_name: What is the name of your Log Analytics Workspace?
          variable: analytics_workspace_name
          required: true
          type: text
    workflow_nodes:
      - identifier: Install Arc Agent
        unified_job_template:
          name: "{{ job_templates.azure.install_arc_agent.name }}"
          type: job_template
          inventory: Azure
        related:
          success_nodes:
            - identifier: Replace Log Analytics with Azure Monitor

      - identifier: Replace Log Analytics with Azure Monitor
        unified_job_template:
          name: "{{ job_templates.azure.replace_log_analytics_with_azure_monitor.name }}"
          type: job_template
          inventory: localhost
        related:
          success_nodes:
            - identifier: Uninstall Log Analytics Agent

      - identifier: Uninstall Log Analytics Agent
        all_parents_must_converge: false
        unified_job_template:
          name: "{{ job_templates.azure.uninstall_log_analytics.name }}"
          type: job_template
          inventory: Azure
  when:
    - (seed_lab_content | bool)
    - workflows.arc_log_migration.name is defined
    - job_templates.azure.install_arc_agent.name is defined
    - job_templates.azure.replace_log_analytics_with_azure_monitor.name is defined
    - job_templates.azure.uninstall_log_analytics.name is defined
  tags:
    - workflows
    - azure
